```text

# Google Services files
**/google-services-desktop.json
**/google-services.json
**/GoogleService-Info.plist
Assets/StreamingAssets/google-services-desktop

# Firebase
firebase.json
.firebaserc
.firebase/
firebase-debug.log
GoogleService-Info.plist
google-services.json
*.plist.meta
*.json.meta

# External Dependency Manager (EDM4U)
Assets/ExternalDependencyManager/**
ExternalDependencyManager/**
**/Google.IOSResolver*.dll
**/Google.JarResolver*.dll
**/Google.PackageManagerResolver*.dll
**/Google.VersionHandlerImpl*.dll
**/Google.VersionHandler*.dll

# Firebase Unity SDK
Assets/Firebase/**
Firebase/**
**/Firebase.Editor*.dll
**/firebase-analytics-unity*.pom
**/firebase-app-unity*.pom
**/firebase-auth-unity*.pom
**/firebase-firestore-unity*.pom
**/firebase-storage-unity*.pom

# Unity duplicated files
**/*\ 2.*
**/*\ 2.meta
**/ShaderGraphSettings*.asset

# Sistema e IDE
.vs/
.vscode/
.idea/
.DS_Store*
Thumbs.db
Desktop.ini

# iOS Libraries
*.a
**/iOS/Libraries/**/*.a
**/iOS/iOS/Libraries/**/*.a
**/Assets/Plugins/iOS/**/*.a
**/Assets/Plugins/tvOS/**/*.a

# Build folders
/iOS/
/android/

# Unity
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
*.apk
*.aab
*.app
*.unitypackage
~UnityDirMonSyncFile~*

# Ferramentas específicas do projeto
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.bundle
Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib
iOS/Libraries/libiPhone-lib.a
Assets/Firebase/Plugins/x86_64/FirebaseCppApp*
Library/PackageCache/**/*.dylib
iOS/Libraries/*.a
iOS/Libraries/libiPhone-lib.a

# iOS Libraries
*.a
**/iOS/Libraries/**/*.a
**/iOS/iOS/Libraries/**/*.a
**/Assets/Plugins/iOS/**/*.a
**/Assets/Plugins/tvOS/**/*.a
